<div class="admin-sidebar">
    <div class="module">
        <h2>EDIT WEBSITE</h2>
        <ul class="actionlist">
            <li><a href="{% url 'admin-tool' 'home-preview' %}">Edit Website</a></li>
        </ul>
        <h2>SUSBSCRIPTIONS</h2>
        <ul class="actionlist">
            <li><a href="{% url 'admin-tool' 'overview' %}">Overview</a></li>
            <li><a href="{% url 'admin-tool' 'domain-name' %}">Domain Name</a></li>
            <li><a href="{% url 'admin-tool' 'hosting' %}">Hosting</a></li>
            <li><a href="{% url 'admin-tool' 'website' %}">Website</a></li>
            <li><a href="{% url 'admin-tool' 'seo' %}">SEO</a></li>
            <li><a href="{% url 'admin-tool' 'social-networks' %}">Social Networks</a></li>
        </ul>

        <h2>USERS</h2>
        <ul class="actionlist">
            <li><a href="{% url 'admin-tool' 'all_settings' %}">Overview</a></li>
        </ul>

        <h2>CARDS AND BROCHURES</h2>
        <ul class="actionlist">
            <li><a href="{% url 'cards-and-brochures' %}">Cards and Brochures</a></li>
        </ul>

        <h2>SETTINGS</h2>
        <ul class="actionlist">
            <li><a href="{% url 'admin-tool' 'all_settings' %}">Overview</a></li>
        </ul>

    </div>

</div>