{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/admin_main_styles.css' %}
">
{% endblock %}

{% block content %}

{% include sidebar_template|default:"admin/sidebar.html" %}

<div class="wrap">
    <div class="card">
        <h3>Translations</h3>
        <p>Website language and translations On / Off</p>
        <p>Admin language and translations On / Off</p>
    </div>
    <div class="card">
        <h3>Contact form Email</h3>
        <p>Email address for contact form submissions</p>
    </div>
</div>


{% endblock %}