{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/admin_main_styles.css' %}
">
{% endblock %}

{% block content %}
{% include sidebar_template|default:"admin/sidebar.html" %}


<style>
    .google-analytics-report {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .google-analytics-report iframe {
        width: 100%;
        max-width: 1200px;
        height: 800px;
        border: none;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
<div class="wrap">
    <h1>Google Analytics Reports</h1>
</div>

{% endblock %}