{% extends "base.html" %}
{% load static %}
{% block title %}Home | Demo Klusbedrijf{% endblock %}
{% block extra_head %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "HomeAndConstructionBusiness",
  "name": "Demo Klusbedrijf",
  "image": "{{ request.scheme }}://{{ request.get_host }}{% static 'img/og-default.jpg' %}",
  "url": "{{ request.scheme }}://{{ request.get_host }}{{ request.path }}",
  "telephone": "+31 6 87111289",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ SITE_SETTINGS.business_address|linebreaks|striptags|default:'Witte de Withstraat 28' }}",
    "postalCode": "4671 AP",
    "addressLocality": "Amsterdam",
    "addressCountry": "NL"
  },
  "areaServed": "Amsterdam en omgeving",
  "sameAs": [
    "https://www.facebook.com/demoKlusBV",
    "https://www.instagram.com/demoklusbv"
  ]
}
</script>
{% endblock %}

{% block content %}
<div class="page-wraper">

    <!-- CONTENT START -->
    <div class="page-content">

        <div id="welcome_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="goodnews-header">
            {% include "partials/hero-slider.html" %}
        </div>

        <!-- OUR SPECIALLIZATION START -->
        <div class="section-full bg-white slider-half-part about-info2-wrap">
            <div class="container">
                <div class="section-content">
                    <div class="row d-flex justify-content-center">

                        <div class="col-lg-4 col-md-6 m-b30">
                            <div class="half-blocks">
                                <div class="mt-icon-box-wraper center m-b30">
                                    <div class="half-block-content icon-count-2 p-a30 p-tb50">
                                        <span class="icon-count-number">1</span>
                                        <div class="mt-icon-box-lg radius bg-gray m-b20 scale-in-center">
                                            <span class="icon-cell">
                                                <img src="{% static 'img/icon/tools.png' %}" alt="">
                                            </span>
                                        </div>
                                        <div class="icon-content">
                                            <h4 class="mt-tilte m-b25">Klus en Reparatiewerk</h4>
                                            <p>Wij voeren kleine reparaties uit in en rondom het huis, van deuren en
                                                kozijnen tot hekwerk en schuurtjes.</p>
                                            <a href="{% url 'diensten' %}klus-en-reparatiewerk" class="site-button-link"
                                                data-hover="Meer informatie">
                                                Meer informatie <i class="fa fa-angle-right arrow-animation"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="bg-cover half-blocks-bg"
                                        style="background-image:url('{% static 'img/services/1.jpg' %}')"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 m-b30">
                            <div class="half-blocks">
                                <div class="mt-icon-box-wraper center m-b30">
                                    <div class="half-block-content icon-count-2 bg-gray p-a30 p-tb50">
                                        <span class="icon-count-number">2</span>
                                        <div class="mt-icon-box-lg radius bg-gray m-b20 scale-in-center">
                                            <span class="icon-cell"><img src="{% static 'img/icon/paint.png' %}"
                                                    alt=""></span>
                                        </div>
                                        <div class="icon-content">
                                            <h4 class="mt-tilte m-b25">Renovatie & Buitenwerk</h4>
                                            <p>We verzorgen badkamerrenovaties, hogedrukreiniging en buitenwerk zoals
                                                het plaatsen van schuttingen of schuurtjes.</p>
                                            <a href="{% url 'diensten' %}renovatie-en-verbouw" class="site-button-link"
                                                data-hover="Meer informatie">
                                                Meer informatie <i class="fa fa-angle-right arrow-animation"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="bg-cover half-blocks-bg"
                                        style="background-image:url('{% static 'img/services/3.jpg' %}')"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 m-b0">
                            <div class="half-blocks">
                                <div class="mt-icon-box-wraper center m-b30">
                                    <div class="half-block-content icon-count-2 bg-gray p-a30 p-tb50">
                                        <span class="icon-count-number">3</span>
                                        <div class="mt-icon-box-lg radius bg-gray m-b20 scale-in-center">
                                            <span class="icon-cell"><img src="{% static 'img/icon/architecture.png' %}"
                                                    alt=""></span>
                                        </div>
                                        <div class="icon-content">
                                            <h4 class="mt-tilte m-b25">Woning
                                                Renovatie</h4>
                                            <p>Van vloer tot plafond: wij helpen bij het opknappen van uw woning met
                                                nette afwerking en betrouwbare uitvoering.</p>
                                            <a href="{% url 'diensten' %}woning-renovatie" class="site-button-link"
                                                data-hover="Meer informatie">
                                                Meer informatie <i class="fa fa-angle-right arrow-animation"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="bg-cover half-blocks-bg"
                                        style="background-image:url('{% static 'img/services/2.jpg' %}')"></div>
                                </div>
                            </div>
                        </div>

                    </div><!-- /.row -->
                </div>
            </div>
        </div>
        <!-- OUR SPECIALLIZATION END -->

        <!-- ABOUT COMPANY START -->
        <div class="section-full" style="background-image:url('{% static 'img/background/bg-map.png' %}')">
            <div class="services-half-section-top">
                <div class="container">
                    <div class="section-head">
                        <div class="mt-separator-outer separator-left text-wh">
                            <div class="mt-separator">
                                <h2 class="text-uppercase sep-line-one "><span
                                        class="font-weight-300 site-text-primary">Demo</span> Klusbedrijf</h2>
                            </div>
                        </div>
                    </div>

                    <div class="section-content">
                        <div class="row">
                            <!-- Left: Carousel -->
                            <div class="col-xl-8 col-lg-12 col-md-12">
                                <div class="owl-carousel about-home about-home-v2 owl-dots-bottom-left">
                                    {% if carousel_items %}
                                        {% for item in carousel_items %}
                                        <div class="item{% if request.GET.preview %} admin-preview-target{% endif %}"{% if request.GET.preview and item %} data-preview-app="core" data-preview-model="homecarouselitem" data-preview-id="{{ item.pk }}" data-preview-scope="carousel-{{ item.pk }}"{% endif %}>
                                            {% if request.GET.preview %}
                                            <button type="button" class="admin-preview-hit" data-preview-app="core" data-preview-model="homecarouselitem" data-preview-id="{{ item.pk }}">
                                                <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zm14.71-9.04a.996.996 0 0 0 0-1.41l-2.54-2.54a.996.996 0 1 0-1.41 1.41l2.54 2.54c.39.39 1.02.39 1.41 0z"></path></svg> Bewerk slide
                                            </button>
                                            {% endif %}
                                            <div class="mt-img-effect zoom-slow">
                                                {% if item.image %}
                                                <img src="{{ item.image.url }}" alt="{{ item.alt_text }}" data-preview-target="image" data-preview-scope="carousel-{{ item.pk }}" data-preview-attr="src" data-preview-alt-target="alt_text" data-preview-alt-default="{{ item.alt_text }}" data-preview-default="{{ item.image.url }}">
                                                {% else %}
                                                <img src="{% static 'img/gallery/pic8.jpg' %}" alt="{{ item.alt_text }}" data-preview-target="image" data-preview-scope="carousel-{{ item.pk }}" data-preview-attr="src" data-preview-alt-target="alt_text" data-preview-alt-default="{{ item.alt_text }}" data-preview-default="{% static 'img/gallery/pic8.jpg' %}">
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="item"><div class="mt-img-effect zoom-slow"><img src="{% static 'img/gallery/pic8.jpg' %}" alt=""></div></div>
                                        <div class="item"><div class="mt-img-effect zoom-slow"><img src="{% static 'img/gallery/pic6.jpg' %}" alt=""></div></div>
                                        <div class="item"><div class="mt-img-effect zoom-slow"><img src="{% static 'img/gallery/pic9.jpg' %}" alt=""></div></div>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Right: Text -->
                            <div class="col-xl-4 col-lg-12 col-md-12">
                                {% with panel=about_panel default_cta=about_url %}
        <div class="about-home-right about-right-v2 site-bg-primary text-white p-a30{% if request.GET.preview and panel %} admin-preview-target{% endif %}"{% if request.GET.preview and panel %} data-preview-app="core" data-preview-model="homeaboutpanel" data-preview-id="{{ panel.pk }}" data-admin-url="{% url 'admin:core_homeaboutpanel_change' panel.pk %}?next={{ request.GET.admin_return|default:'/admin/tools/home-preview/'|urlencode }}"{% endif %}>
            {% if request.GET.preview and panel %}
            <button type="button" class="admin-preview-hit" data-preview-app="core" data-preview-model="homeaboutpanel" data-preview-id="{{ panel.pk }}">
                <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zm14.71-9.04a.996.996 0 0 0 0-1.41l-2.54-2.54a.996.996 0 1 0-1.41 1.41l2.54 2.54c.39.39 1.02.39 1.41 0z"></path></svg>
                Bewerk block
            </button>
            {% endif %}
            <h3 class="m-t0">
                <span class="font-weight-100" data-preview-target="title_emphasis" data-preview-scope="homeaboutpanel" data-preview-default="Toegewijd">{{ panel.title_emphasis|default:'Toegewijd' }}</span>
                <span data-preview-target="title_rest" data-preview-scope="homeaboutpanel" data-preview-default="aan kwaliteit en vakmanschap.">{{ panel.title_rest|default:'aan kwaliteit en vakmanschap.' }}</span>
            </h3>
            <p><strong data-preview-target="lead_text" data-preview-scope="homeaboutpanel" data-preview-default="HMD Klusbedrijf is opgericht door Juma Al Huseyin en staat voor betrouwbaarheid, kwaliteit en eerlijke service. Met oog voor detail voert hij elke klus uit alsof het zijn eigen huis is.">{{ panel.lead_text|default:'HMD Klusbedrijf is opgericht door Juma Al Huseyin en staat voor betrouwbaarheid, kwaliteit en eerlijke service. Met oog voor detail voert hij elke klus uit alsof het zijn eigen huis is.' }}</strong></p>
            <p data-preview-target="body_text" data-preview-scope="homeaboutpanel" data-preview-default="Of het nu gaat om kleine reparaties, schilderwerk, timmerklussen of een volledige badkamerrenovatie - HMD Klusbedrijf levert professioneel werk binnen een straal van 50 km rond Dinteloord.">{{ panel.body_text|default:'Of het nu gaat om kleine reparaties, schilderwerk, timmerklussen of een volledige badkamerrenovatie - HMD Klusbedrijf levert professioneel werk binnen een straal van 50 km rond Dinteloord.' }}</p>
            <div class="text-left">
                <a href="{{ panel.cta_url|default:about_url }}" class="site-button-secondry btn-effect"{% if request.GET.preview %} data-preview-target="cta_url" data-preview-scope="homeaboutpanel" data-preview-default="{{ about_url }}" data-preview-attr="href"{% endif %}>
                    <span data-preview-target="cta_label" data-preview-scope="homeaboutpanel" data-preview-default="Lees Meer">{{ panel.cta_label|default:'Lees Meer' }}</span>
                </a>
            </div>
        </div>
        {% endwith %}
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div>

                </div>
            </div>
        </div>
        <!-- ABOUT COMPANY END -->

        <!-- OUR VALUE START -->
        <div class="section-full p-t80 p-b50 bg-white mobile-page-padding">
            <div class="container">
                <div class="section-content">
                    <div class="row align-items-center">
                        <div class="empty50"></div>
                        {% with block=value_block %}
                        <div class="col-md-6{% if request.GET.preview and block %} admin-preview-target{% endif %}"{% if request.GET.preview and block %} data-preview-app="core" data-preview-model="homevalueblock" data-preview-id="{{ block.pk }}" data-admin-url="{% url 'admin:core_homevalueblock_change' block.pk %}?next={{ request.GET.admin_return|default:'/admin/tools/home-preview/'|urlencode }}"{% endif %}>
                            {% if request.GET.preview and block %}
                            <button type="button" class="admin-preview-hit" data-preview-app="core" data-preview-model="homevalueblock" data-preview-id="{{ block.pk }}">
                                <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zm14.71-9.04a.996.996 0 0 0 0-1.41l-2.54-2.54a.996.996 0 1 0-1.41 1.41l2.54 2.54c.39.39 1.02.39 1.41 0z"></path></svg> Bewerk blok
                            </button>
                            {% endif %}
                            {% if block and block.image %}
                            <img src="{{ block.image.url }}" alt="{{ block.image_alt }}" class="img-fluid" data-preview-target="image" data-preview-scope="homevalue" data-preview-attr="src" data-preview-alt-target="image_alt" data-preview-default="{{ block.image.url }}">
                            {% else %}
                            <img src="{% static 'img/gallery/pic9.jpg' %}" alt="Werk in uitvoering" class="img-fluid" data-preview-target="image" data-preview-scope="homevalue" data-preview-attr="src" data-preview-alt-target="image_alt" data-preview-default="{% static 'img/gallery/pic9.jpg' %}">
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <div class="video-part-2">
                                <h3><span class="font-weight-100" data-preview-target="title_emphasis" data-preview-scope="homevalue" data-preview-default="Wij leveren">{{ block.title_emphasis|default:'Wij leveren' }}</span> <span data-preview-target="title_rest" data-preview-scope="homevalue" data-preview-default="vakwerk waar u op kunt vertrouwen">{{ block.title_rest|default:'vakwerk waar u op kunt vertrouwen' }}</span>
                                </h3>
                                <p data-preview-target="body" data-preview-scope="homevalue" data-preview-default="HMD Klusbedrijf voert elke klus met zorg en vakmanschap uit. Of het nu gaat om een kleine reparatie of een complete renovatie, wij staan klaar voor particulieren in de regio Dinteloord en omgeving.">{{ block.body|default:'HMD Klusbedrijf voert elke klus met zorg en vakmanschap uit. Of het nu gaat om een kleine reparatie of een complete renovatie, wij staan klaar voor particulieren in de regio Dinteloord en omgeving.' }}</p>
                                <ul class="list-angle-right anchor-line">
                                    <li><a href="{{ block.link_1_url|default:'/diensten/kluswerk/' }}" data-preview-target="link_1_url" data-preview-scope="homevalue" data-preview-attr="href" data-preview-default="/diensten/kluswerk/"><span data-preview-target="link_1_label" data-preview-scope="homevalue" data-preview-default="Klus en Reparatiewerk">{{ block.link_1_label|default:'Klus en Reparatiewerk' }}</span></a></li>
                                    <li><a href="{{ block.link_2_url|default:'/diensten/timmerwerk/' }}" data-preview-target="link_2_url" data-preview-scope="homevalue" data-preview-attr="href" data-preview-default="/diensten/timmerwerk/"><span data-preview-target="link_2_label" data-preview-scope="homevalue" data-preview-default="Timmerwerk &amp; Interieur">{{ block.link_2_label|default:'Timmerwerk & Interieur' }}</span></a></li>
                                    <li><a href="{{ block.link_3_url|default:'/diensten/badkamer-renovatie/' }}" data-preview-target="link_3_url" data-preview-scope="homevalue" data-preview-attr="href" data-preview-default="/diensten/badkamer-renovatie/"><span data-preview-target="link_3_label" data-preview-scope="homevalue" data-preview-default="Badkamerrenovatie &amp; Buitenwerk">{{ block.link_3_label|default:'Badkamerrenovatie & Buitenwerk' }}</span></a></li>
                                </ul>
                            </div>
                        </div>
                        {% endwith %}
                        <div class="empty50"></div>
                    </div>
                    <div class="author-info author-info-v2 p-t20"></div>
                </div>
            </div>
        </div>
        <!-- OUR VALUE END -->

        <!-- OUR MISSION START -->
        <div class="section-full site-bg-dark">
            <div class="section-content">
                <div class="container get-in-touch-form">
                    <div class="row">

                        <div class="col-lg-6 col-md-6">
                            <div class="contact-home1-left contact-home1-left-v2 site-bg-dark p-a30 m-b30 p-t50">
                                <h3 class="text-white m-t0"><span class="font-weight-100">Neem</span> Contact op!</h3>
                                <form class="cons-contact-form2 form-transparent" method="post" action="">
                                    {% csrf_token %}
                                    <div class="input input-animate">
                                        <label for="name">Naam</label>
                                        <input type="text" name="username" id="name" required>
                                        <span class="spin"></span>
                                    </div>

                                    <div class="input input-animate">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email" required>
                                        <span class="spin"></span>
                                    </div>

                                    <div class="input input-animate">
                                        <label for="Phone">Phone</label>
                                        <input type="text" name="phone" id="Phone" required>
                                        <span class="spin"></span>
                                    </div>

                                    <div class="input input-animate">
                                        <label for="message">Textarea</label>
                                        <textarea name="message" id="message" required></textarea>
                                        <span class="spin"></span>
                                    </div>

                                    <div class="text-left p-t10">
                                        <button type="submit" class="site-button btn-effect">Stuur Bericht</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="get-in-touch-form-section">
                            <div class="get-in-touch-form-section-img">
                                <img src="{% static 'img/s-pic-1.png' %}" alt="">
                            </div>
                            <div class="get-in-touch-info arrow-animation">
                                <div class="mt-icon-box-wraper p-a20 left bg-white hover-shadow">
                                    <div class="icon-md m-b20 scale-in-center">
                                        <span class="icon-cell text-secondry"><img
                                                src="{% static 'img/icon/icon-img-01.png' %}" alt=""></span>
                                    </div>
                                    <div class="icon-content">
                                        <h4 class="mt-tilte m-b0">Contact</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- /.row -->
                </div>
            </div>
        </div>
        <!-- OUR MISSION END -->

        <!-- OUR SERVICES START -->
        <div class="section-full p-t80 p-b50 bg-white mobile-page-padding"
            style="background-image:url('{% static 'img/background/ptn-1.png' %}')">
            <div class="section-content">
                <div class="container">

                    <div class="section-head m-b50">
                        <div class="mt-separator-outer separator-left">
                            <div class="mt-separator">
                                <h2 class="text-uppercase sep-line-one "><span
                                        class="font-weight-300 site-text-primary">Onze</span> Diensten</h2>
                            </div>
                        </div>
                        <h3>Wij bieden betrouwbare klussen, renovaties en onderhoud in en rondom uw woning.</h3>
                    </div>

                    <div class="row services-v2 no-col-gap">
                        <!-- repeatable service card pattern -->
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="mt-icon-box-wraper bdr-l-1 bdr-solid bdr-gray">
                                <div class="relative p-a30">
                                    <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                                        <span class="icon-cell"><img src="{% static 'img/icon/engineering.png' %}"
                                                alt=""></span>
                                    </div>
                                    <div class="icon-content">
                                        <h4 class="mt-tilte m-b25">Materiaal <br>Keuze</h4>
                                        <p>We adviseren bij de keuze van materialen zoals vloeren, verf en sanitair,
                                            zodat u kwaliteit krijgt die past bij uw wensen.</p>
                                        <a href="{% url 'diensten' %}materiaalkeuze" class="site-button-link"
                                            data-hover="Lees Meer">
                                            Lees Meer <i class="fa fa-angle-right arrow-animation"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="mt-icon-box-wraper bdr-l-1 bdr-solid bdr-gray">
                                <div class="relative p-a30">
                                    <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                                        <span class="icon-cell"><img src="{% static 'img/icon/toolbox.png' %}"
                                                alt=""></span>
                                    </div>
                                    <div class="icon-content">
                                        <h4 class="mt-tilte m-b25">Klus Onderhoud</h4>
                                        <p>We lossen kleine problemen snel op: kapotte deuren, lekkende kranen, losse
                                            plinten of andere klusjes.</p>
                                        <a href="{% url 'diensten' %}klus-onderhoud" class="site-button-link"
                                            data-hover="Lees Meer">
                                            Lees Meer <i class="fa fa-angle-right arrow-animation"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="mt-icon-box-wraper bdr-l-1 bdr-solid bdr-gray">
                                <div class="relative p-a30">
                                    <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                                        <span class="icon-cell"><img src="{% static 'img/icon/idea.png' %}"
                                                alt=""></span>
                                    </div>
                                    <div class="icon-content">
                                        <h4 class="mt-tilte m-b25">Klus <br>Advies</h4>
                                        <p>We geven eerlijk advies over materialen, oplossingen en mogelijkheden —
                                            afgestemd op uw woning en budget.</p>
                                        <a href="{% url 'diensten' %}klusadvies" class="site-button-link"
                                            data-hover="Lees Meer">
                                            Lees Meer <i class="fa fa-angle-right arrow-animation"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="mt-icon-box-wraper bdr-l-1 bdr-solid bdr-gray">
                                <div class="relative p-a30">
                                    <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                                        <span class="icon-cell"><img src="{% static 'img/icon/keuken.png' %}"
                                                alt=""></span>
                                    </div>
                                    <div class="icon-content">
                                        <h4 class="mt-tilte m-b25">Interieur <br>Styling</h4>
                                        <p>Wij denken graag met u mee over kleine interieurverbeteringen en afwerking
                                            die bij uw stijl passen.</p>
                                        <a href="{% url 'diensten' %}interieurstyling" class="site-button-link"
                                            data-hover="Lees Meer">
                                            Lees Meer <i class="fa fa-angle-right arrow-animation"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="list-inline m-t30">
                            <li class="btn-col-last">
                                <a href="diensten" id="open-afspraak" class="site-button-secondry btn-effect">Bekijk
                                    alles diensten</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <!-- OUR SERVICES END -->

        <!-- CALL US SECTION START -->
        <div class="section-full p-tb80 overlay-wraper bg-center bg-parallax bg-cover"
            data-stellar-background-ratio="0.5" style="background-image:url('{% static 'img/background/bg-10.jpg' %}')">
            <div class="overlay-main bg-black opacity-07"></div>
            <div class="container">
                <div class="section-content">
                    <div class="call-us-section text-center text-white{% if request.GET.preview and SITE_SETTINGS %} admin-preview-target{% endif %}"{% if request.GET.preview and SITE_SETTINGS %} data-admin-url="{% url 'admin:core_sitesettings_change' SITE_SETTINGS.pk %}?next={{ request.GET.admin_return|default:'/admin/tools/home-preview/'|urlencode }}"{% endif %}>
                        {% if request.GET.preview and SITE_SETTINGS %}
                        <button type="button" class="admin-preview-hit" data-preview-app="core" data-preview-model="sitesettings" data-preview-id="{{ SITE_SETTINGS.pk }}">
                            <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zm14.71-9.04a.996.996 0 0 0 0-1.41l-2.54-2.54a.996.996 0 1 0-1.41 1.41l2.54 2.54c.39.39 1.02.39 1.41 0z"></path></svg> Bewerk contactgegevens
                        </button>
                        {% endif %}
                        <h4 class="m-b15">Laten we samenwerken</h4>
                        <h2 class="call-us-number m-b15 m-b0">
                            <a href="{{ SITE_SETTINGS_WA_URL }}" target="_blank" class="site-button btn-effect" rel="noopener">
                                {{ SITE_SETTINGS_PHONE_DISPLAY }}
                            </a>
                        </h2>
                        <h4 class="call-us-address m-t0 m-b20">{{ SITE_SETTINGS.business_address|linebreaks|striptags|default:'Damrak 123, 1012 LP Amsterdam' }}</h4>
                        <a href="{% url 'contact' %}" class="site-button btn-effect">Neem contact op</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- CALL US SECTION END -->

    </div>
    <!-- CONTENT END -->

</div>
{% endblock %}